body {
  font-family: "Outfit";
  font-weight: 700;
  background-color: hsl(212, 45%, 89%);
  min-height: 100vh;
  display: grid;
  place-items: center;
}


.qr-card {
  background-color: white;
  border-radius: 10px;
  padding: 14px;
  width: 260px;
  text-align: center;
  margin: auto;
  margin-bottom: 10px;
}

.qr-card h3 {
  color: hsl(218, 44%, 22%);
  margin: 18px;
}

.qr-card p {
  color: hsl(220, 15%, 55%);
  font-size: 14px;
  margin: 0 20px;
}
.qr-card img {
  width: 260px;
  height: 260px;
  border-radius: 9px;
  display: inline-block;
}
.attribution {
  font-size: 11px;
  text-align: center;
  display: block;
}
